#!/bin/sh

export JAVA_OPTS="-server -Xmx{{ java_xmx_megabytes }}m -Djavax.net.ssl.trustStore=/opt/kapa-ca -Djavax.net.ssl.trustStorePassword={{ java_truststore_password }} -Djavax.net.ssl.keyStore=/usr/share/tomcat/properties/tomcat_keystore -Djavax.net.ssl.keyStorePassword={{ tomcat_cert_storepass }}"
export CATALINA_OPTS=" -Djava.rmi.server.hostname={{ vartti_host }}"
export UMASK=0022

